{namespace form=Neos\Form\ViewHelpers\Form}

<div class="neos-row-fluid">
    <fieldset class="neos-span5">
        <legend>
            <f:translate id="{headline}" />
        </legend>
        <div class="neos-control-group">
            <label class="neos-control-label" for="isbn">
                <f:translate id="label.isbn" />
            </label>
            <div class="neos-controls">
                <f:form.textfield property="isbn" id="isbn" class="neos-span12" required=""  additionalAttributes="{required: ''}" />
            </div>
        </div>
        <div class="neos-control-group">
            <label class="neos-control-label" for="title">
                <f:translate id="label.title" />
            </label>
            <div class="neos-controls">
                <f:form.textfield property="title" id="title" class="neos-span12" />
            </div>
        </div>
        <div class="neos-control-group">
            <label class="neos-control-label" for="categories">
                <f:translate id="label.categories" />
            </label>
            <div class="neos-controls">
                <f:form.textfield property="categories" id="categories" class="neos-span12" />
            </div>
        </div>
        <div class="neos-control-group">
            <label class="neos-control-label" for="image-cover">
                <f:translate id="label.image" />
            </label>
            <div class="neos-controls">
                <f:form.textfield property="image" id="image-cover" class="neos-span12" />
            </div>
        </div>
        <div class="neos-control-group">
            <label class="neos-control-label" for="pages">
                <f:translate id="label.pages" />
            </label>
            <div class="neos-controls">
                <f:form.textfield property="pages" id="pages" class="neos-span12" />
            </div>
        </div>
        <div class="neos-control-group">
            <label class="neos-control-label" for="pages">
                <f:translate id="label.averagerating" />
            </label>
            <div class="neos-controls">
                <f:form.textfield property="averageRating" id="averagerating" class="neos-span12" />
            </div>
        </div>
    </fieldset>

    <fieldset class="neos-span5 neos-offset1">
        <legend>&nbsp;</legend>
        <div class="neos-control-group">
            <label class="neos-control-label" for="author">
                <f:translate id="label.author" />
            </label>
            <div class="neos-controls">
                <f:form.textfield property="author" id="author" class="neos-span12" />
            </div>
        </div>
        <div class="neos-control-group">
            <label class="neos-control-label" for="language">
                <f:translate id="label.language" />
            </label>
            <div class="neos-controls">
                <f:form.textfield property="language" id="language" class="neos-span12" />
            </div>
        </div>
        <div class="neos-control-group">
            <label class="neos-control-label" for="language">
                <f:translate id="label.publisher" />
            </label>
            <div class="neos-controls">
                <f:form.textfield property="publisher" id="publisher" class="neos-span12" />
            </div>
        </div>
        <div class="neos-control-group">
            <label class="neos-control-label" for="releasedate">
                <f:translate id="label.releasedate" />
            </label>
            <div class="neos-controls">

                <f:form.textfield property="releasedate" type="datetime" id="releasedate" class="neos-span12 neos-datetimepicker" />
                <script>
                    var language = '{language}';
                    $( function() {
                        $.datepicker.setDefaults( $.datepicker.regional[language] );
                        $("#releasedate").datepicker({
                            dateFormat: "dd.mm.yy",
                        });
                    });
                </script>
            </div>
        </div>
        <div class="neos-control-group">
            <label class="neos-control-label" for="language">
                <f:translate id="label.teaser">TEASER</f:translate>
            </label>
            <div class="neos-controls">
                <f:form.textfield property="teaser" id="teaser" class="neos-span12" />
            </div>
        </div>
        <div class="neos-control-group">
            <label class="neos-control-label" for="pages">
                <f:translate id="label.description" />
            </label>
            <div class="neos-controls">
                <f:form.textarea rows="5" property="description" id="description" class="neos-span12" />
            </div>
        </div>

    </fieldset>
</div>
