{namespace neos=Neos\Neos\ViewHelpers}

<div class="neos-content neos-container-fluid">

    <f:form class="book book-edit" action="create" id="bookForm" objectName="newBook" enctype="multipart/form-data">
        <f:render partial="BookForm" arguments="{language: '{language}', headline: 'headline.add'}" />

        <div class="neos-footer">
            <f:render partial="SearchBox" />
            <neos:link.module class="neos-button neos-button-warning" path="management/bookLibrary">
                <f:translate id="button.cancel" />
            </neos:link.module>
            <a id="loadBookDetails" class="neos-button neos-button-primary" title="Sync Book Details" href="#">
                <f:translate id="button.loadapi"/>
            </a>
            <f:form.submit class="neos-button neos-button-success" value="{f:translate(id: 'button.create')}" />
        </div>
    </f:form>
</div>
