{namespace neos=Neos\Neos\ViewHelpers}

<div class="neos-content neos-container-fluid">

    <f:form class="book book-edit" action="update" id="bookForm" object="{book}" objectName="book" enctype="multipart/form-data">
        <f:render partial="BookForm" arguments="{book: '{book}', language: '{language}', headline: 'headline.edit'}" />

        <div class="neos-footer">
            <neos:link.module class="neos-button neos-button-warning" path="management/bookLibrary">
                <f:translate id="button.cancel" />
            </neos:link.module>
            <f:form.submit class="neos-button neos-button-success" value="{f:translate(id: 'button.update')}" />
        </div>
    </f:form>

</div>
